extends layout

mixin tr_th_td(item)
    if(item)
        tr
            th= item.label
            td= item.value

mixin td(item)
    if(item)
        td= item.value
    else
        td 

block content
    div(id="portal-breadcrumbs")
        span(id="breadcrumbs-you-are-here") You are here: 
        span(id="breadcrumbs-home")
            a(href="http://www.eea.europa.eu/") Home
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-1")
            a(href="#{base_path}") Air Quality statistics analysis
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-2")
            span(class="breadcrumbs-current")=  data._id.value

    h1= data._id.value
    table(class="item_detail_table datatable")
        colgroup
            col(style="width: 25%")
            col(style="width: 75%")
        +tr_th_td(data.observationVerification)
        +tr_th_td(data.samplingPoint)
        +tr_th_td(data.endPosition)
        +tr_th_td(data.aggregationType)
        +tr_th_td(data.station)
        +tr_th_td(data.sample)
        +tr_th_td(data.datacapturePct)
        +tr_th_td(data.airqualityValue)
        +tr_th_td(data.observationValidity)
        +tr_th_td(data.inspireNamespace)
        +tr_th_td(data.procedure)
        +tr_th_td(data.inserted)
        +tr_th_td(data.beginPosition)
        +tr_th_td(data.pollutant)
