extends layout

mixin tr_th_td(item, link_item)
    if(item && item.value)
        tr
            th= item.label
            if(link_item)
                td
                    +ext_link(item, link_item.value)
            else
                td
                    span(class="simple-value")= item.value

mixin ext_link(item, url)
    a(href= "http://cr.eionet.europa.eu/factsheet.action?uri=" +url  title="go to source details" class="detail_extlink")= item.value

block title
    title= "Validated exceedence for " + data._shorttitle.value

block content
    div(id="portal-breadcrumbs")
        span(id="breadcrumbs-you-are-here") You are here: 
        span(id="breadcrumbs-home")
            a(href="http://www.eea.europa.eu/") Home
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-1")
            a(href="#{base_path}") Air Quality statistics analysis
            span(class="breadcrumbSeparator")  / 
        span(id="breadcrumbs-2")
            span(class="breadcrumbs-current")= data._shorttitle.value

    h1
        span= "Validated exceedence for " + data._shorttitle.value

    table(class="item_detail_table datatable")
        colgroup
            col(style="width: 25%")
            col(style="width: 75%")
        +tr_th_td(data._shorttitle, data.exceedence_link)
        +tr_th_td(data.inspireNamespace)
        +tr_th_td(data.station, data.station_link)
        +tr_th_td(data.aggregationType, data.aggregationType_link)
        +tr_th_td(data.aggregationType_reportingmetric, data.aggregationType_reportingmetric_link)
        +tr_th_td(data.beginPosition)
        +tr_th_td(data.pollutant, data.pollutant_link)
        +tr_th_td(data.airqualityValue_aqvalue)
        +tr_th_td(data.datacapturePct_datacapture)
        +tr_th_td(data.observationValidity)
        +tr_th_td(data.observationVerification)
        +tr_th_td(data.samplingPoint_stationtype, data.samplingPoint_stationtype_link)
        +tr_th_td(data.station_stationarea, data.station_stationarea_link)
        +tr_th_td(data.station_lat_stationlatitude)
        +tr_th_td(data.station_lon_stationlongitude)
        +tr_th_td(data.procedure_analyticaltechnique, data.procedure_analyticaltechnique_link)
        +tr_th_td(data.procedure_measurementtype, data.procedure_measurementtype_link)
        +tr_th_td(data.sample_inletHeight, data.sample_link)
        +tr_th_td(data.sample_kerbdistance, data.sample_link)
        +tr_th_td(data.samplingPoint_zone, data.samplingPoint_zone_link)
        +tr_th_td(data.samplingPoint_zoneLabel)
        +tr_th_td(data.samplingPoint_zoneType, data.samplingPoint_zoneType_link)
        +tr_th_td(data.samplingPoint_zoneCountryLabel, data.samplingPoint_zoneCountryLabel_link)
        +tr_th_td(data.samplingPoint_samplingPoint, data.samplingPoint_link)
        +tr_th_td(data.sample_sample, data.sample_link)
        +tr_th_td(data.procedure_procedure, data.procedure_link)
